NET "CLK" PERIOD = 20.0ns HIGH 50%;

NET "CLK"  LOC = "T9" | IOSTANDARD = LVCMOS33;

# LED's
NET "LED_OUT<7>" LOC = "P11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_OUT<6>" LOC = "P12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_OUT<5>" LOC = "N12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_OUT<4>" LOC = "P13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_OUT<3>" LOC = "N14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_OUT<2>" LOC = "L12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_OUT<1>" LOC = "P14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_OUT<0>" LOC = "K12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

# IO pins
NET "TUBE_1"     LOC = "D5" | IOSTANDARD = LVTTL | PULLUP;
NET "TUBE_2"     LOC = "D6" | IOSTANDARD = LVTTL | PULLUP;
NET "TUBE_3"     LOC = "E7" | IOSTANDARD = LVTTL | PULLUP;
NET "PIEZO"      LOC = "D7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

# 7-segment displays
NET "AN<0>" LOC = "D14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "AN<1>" LOC = "G14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "AN<2>" LOC = "F14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "AN<3>" LOC = "E13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_A" LOC = "E14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_B" LOC = "G13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_C" LOC = "N15" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_D" LOC = "P15" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_E" LOC = "R16" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_F" LOC = "F13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_G" LOC = "N16" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "SEG_DP" LOC = "P16" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

# Push-buttons
NET "PB0"     LOC = "M13" | IOSTANDARD = LVTTL;
NET "PB1"     LOC = "M14" | IOSTANDARD = LVTTL;
